In [ ]:
#tuple
tup1=("India","UK","USA","Australia","Africa")
for i in tup1:
  print(i)

India
UK
USA
Australia
Africa

In [ ]:
tup1=("India","UK","USA","Australia","Africa")
for i in range(len(tup1)):
  print(i)

0
1
2
3
4

In [ ]:
tup1=("India","UK","USA","Australia","Africa")
for i in range(len(tup1)):
  print(tup1[i])

India
UK
USA
Australia
Africa

In [ ]:
tup1=("India","UK","USA","Australia","Africa")
tup2=(1,2,3,4,5)
tup3=tup1+tup2
print(tup3)

('India', 'UK', 'USA', 'Australia', 'Africa', 1, 2, 3, 4, 5)

In [ ]:
set1={1,2,3,4}
print(set1)

{1, 2, 3, 4}

In [ ]:
set1={1,2,2,3,3,4,5,5,5}
print(set1)

{1, 2, 3, 4, 5}

In [ ]:
  set1={1,2,2,3,3,4,5,5,5}
  print(len(set1))

5

In [ ]:
type(tup1)

tuple

In [ ]:
type(set1)

set

In [ ]:
#union
set1={20,30,40,60,10}
set2={"Uk","US","Germany"}
set3=set1.union(set2)
print(set3)

{'Germany', 'US', 20, 'Uk', 40, 10, 60, 30}

In [ ]:
#update
set1={20,30,40,60,10}
set2={"Uk","US","Germany"}
set1.update(set2)
print(set1)

{'Germany', 'US', 20, 'Uk', 40, 10, 60, 30}

In [ ]:
set1={"Africa","Germany","UK","Australia"}
set2={"UK","US","Germany"}
set1.intersection_update(set2)
print(set1)

{'Germany', 'UK'}

In [ ]:
set1={"Africa","Germany","UK","Australia"}
set2={"UK","US","Germany"}
set3=set1.intersection(set2)
print(set3)

{'Germany', 'UK'}

In [ ]:
set1={"Africa","Germany","UK","Australia"}
set2={"UK","US","Germany"}
set1.symmetric_difference_update(set2)
print(set1)

{'Africa', 'Australia', 'US'}

In [ ]:
set1={"Africa","Germany","UK","Australia"}
set2={"UK","US","Germany"}
set3=set1.symmetric_difference(set2)
print(set3)

{'Africa', 'Australia', 'US'}

In [ ]:
d1={"name":"Alice","Age":22,"city":"Delhi"}
print(d1)

{'name': 'Alice', 'Age': 22, 'city': 'Delhi'}

In [ ]:
d1={"name":"Alice","Age":22,"city":"Delhi","city":"Milan"}
print(d1)

{'name': 'Alice', 'Age': 22, 'city': 'Milan'}

In [ ]:
d1={"name":"Alice","Age":22,"city":"Delhi"}
print(len(d1))

3

In [ ]:
d1={"name":"Alice","Age":22,"city":"Delhi"}
ky=d1.keys()
for k in ky:
  print(k)

name
Age
city

In [ ]:
print(type(d1))

<class 'dict'>

In [1]:
d1={"name":"Alice","Age":22,"city":"Delhi"}
print(d1)
d1["name"]="merry"
print(d1)

{'name': 'Alice', 'Age': 22, 'city': 'Delhi'}
{'name': 'merry', 'Age': 22, 'city': 'Delhi'}

In [2]:
d1={"name":"Alice","Age":22,"city":"Delhi"}
print(d1)
d1.update({"Age":3})
print(d1)

{'name': 'Alice', 'Age': 22, 'city': 'Delhi'}
{'name': 'Alice', 'Age': 3, 'city': 'Delhi'}

In [3]:
d1={"name":"Alice","Age":22,"city":"Delhi"}
print(d1)
d1["grade"]="A"
print(d1)

{'name': 'Alice', 'Age': 22, 'city': 'Delhi'}
{'name': 'Alice', 'Age': 22, 'city': 'Delhi', 'grade': 'A'}

In [5]:
d1={"name":"Alice","Age":22,"city":"Delhi"}
print(d1)
d1.pop("Age")
print(d1)

{'name': 'Alice', 'Age': 22, 'city': 'Delhi'}
{'name': 'Alice', 'city': 'Delhi'}

In [6]:
d1={"name":"Alice","Age":22,"city":"Delhi"}
print(d1)
del d1["Age"]
print(d1)

{'name': 'Alice', 'Age': 22, 'city': 'Delhi'}
{'name': 'Alice', 'city': 'Delhi'}

In [7]:
d1={"name":"Alice","Age":22,"city":"Delhi"}
print(d1)
d1.clear()
print(d1)

{'name': 'Alice', 'Age': 22, 'city': 'Delhi'}
{}

In [9]:
 d1={"name":"Alice","Age":22,"city":"Delhi"}
for i in d1:
  print(i)

name
Age
city

In [10]:
 d1={"name":"Alice","Age":22,"city":"Delhi"}
for i in d1.values():
  print(i)

Alice
22
Delhi

In [11]:
def Firstfunction():
  print("Hello")

#calling function
Firstfunction()

Hello

In [3]:
def Firstfunction(name):
  print("Hello " + name)

#calling function
Firstfunction("john")

Hello john