In [ ]:
#for Loop
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(2,5):
  print(i)

2
3
4

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
Flist=["apple","mango","grapes","banana"]
for fruits in Flist:
  print(fruits)

apple
mango
grapes
banana

In [ ]:
Flist=["apple","mango","grapes","banana"]
for fruits in range(len(Flist)):
  print(Flist[fruits])
print(len(Flist))

apple
mango
grapes
banana
4

In [ ]:
#Nested loop
#*
#**
#***
#****
#*****
rows=5
for i in range(rows):
  for j in range(i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
count=1
while count<=5:
  print(count)
  count +=1

1
2
3
4
5

In [ ]:
Text=""
while Text !="quit":
  Text= input("Enter the text OR quit : ")
  print("You Entered : ",Text)

Enter the text OR quit : I am happy
You Entered :  I am happy
Enter the text OR quit : I have holidays
You Entered :  I have holidays
Enter the text OR quit : quit
You Entered :  quit

In [ ]:
#for loop example
names=["tom","james","jack","jhon"]
salary=[30000,35000,45000,40000]
print("Old Salary is : ")
print(salary)
for i in range (len(names)):
  if names[i]=="jhon":
   increment=salary[i]*0.05
   salary[i] += increment
print("Updated Salary is : ")
print(salary)

Old Salary is :
[30000, 35000, 45000, 40000]
Updated Salary is :
[30000, 35000, 45000, 42000.0]

In [ ]:
#indexing
name="John doe"
print(name[1])

o

In [ ]:
PAN="AXTY45376"
print("X" in PAN)

True

In [ ]:
print(name.upper())
print(name.lower())

JOHN DOE
john doe

In [ ]:
print(name.replace("J","j"))

john doe

In [ ]:
print(name.split(" "))

['John', 'doe']

In [ ]:
list=["India","UK","USA"]
print(list)
list[1] = "Russia"
print(list)

['India', 'UK', 'USA']
['India', 'Russia', 'USA']

In [ ]:
list=["India","Russia","USA"]
list2=["Goa","Africa"]
list.append("UK")
print(list)

['India', 'Russia', 'USA', 'UK']

In [ ]:
list.extend(list2)
print(list)

['India', 'Russia', 'USA', 'UK', 'Goa', 'Africa', 'Goa', 'Africa']

In [ ]:
list=["India","Russia","UK","USA"]
list.remove("USA")
print(list)

['India', 'Russia', 'UK']

In [ ]:
list.pop(1)
print(list)

['India', 'UK']

In [ ]:
list=["India","Russia","UK","USA"]
print(list)
list.pop(1)
print(list)

['India', 'Russia', 'UK', 'USA']
['India', 'UK', 'USA']

In [ ]:
list=["India","Russia","UK","USA"]
print(list)
del list[1]
print(list)

['India', 'Russia', 'UK', 'USA']
['India', 'UK', 'USA']

In [ ]:
list=["India","Russia","UK","USA"]
for i in list:
  print(i)

India
Russia
UK
USA

In [ ]:
list=["India","Russia","UK","USA"]
for i in range(len(list)):
 print(list[i])

India
Russia
UK
USA

In [ ]:
list=["India","Russia","UK","USA"]
for i in range(len(list)):
 print(i)

0
1
2
3

In [ ]:
list=["India","Russia","UK","USA"]
print(len(list))
print(range(len(list)))
for i in range(len(list)):
 print(list[i])

4
range(0, 4)
India
Russia
UK
USA

In [10]:
list=["India","Russia","UK","USA"]
newlist=[i for i in list if 'I' in i]
print(newlist)

['India']

In [11]:
list=["India","Russia","UK","USA"]
newlist=[]
for i in list:
  if "R" in i:
    newlist.append(i)
print(newlist)

['Russia']

In [13]:
list=["India","Russia","UK","USA","Africa"]
list.sort()
print(list)

['Africa', 'India', 'Russia', 'UK', 'USA']

In [14]:
list=["India","Russia","UK","USA","Africa"]
list.sort(reverse=True)
print(list)

['USA', 'UK', 'Russia', 'India', 'Africa']

In [15]:
list=["India","Russia","UK","USA","Africa"]
newlist=list.copy()
print(newlist)

['India', 'Russia', 'UK', 'USA', 'Africa']