In [ ]:
def add_num(num1 , num2):
  sum = num1 + num2
  return sum


result=add_num(5,3)
print("the result is:",result)

the result is: 8

In [ ]:
def cal():
  num1 = float(input("Enter the first num"))
  num2 = float(input("Enter the second num"))
  result = num1+ num2
  print("addition :   ",result)

  result = num1 * num2
  print("multiplicatin :  ",result)

  result = num1 - num2
  print("subtraction :   ",result)

  result=num1/num2
  print("Division  :  ",result)

cal()

Enter the first num10
Enter the second num2
addition :    12.0
multiplicatin :   20.0
subtraction :    8.0
Division  :   5.0

In [ ]:
def format_name():
  first_name = input("enter first name : ")
  last_name = input("enter last name : ")

  format_first_name = first_name.capitalize()
  format_last_name = last_name.capitalize()

  print("the student nam is :  ",  format_first_name,  format_last_name)
format_name()

enter first name : aLIcE
enter last name : aLteR
the student nam is :   Alice Alter

In [ ]:
def print_even_num():
  n = int(input("Enter the numer :  "))
  even_numer=[]
  for i in range(1,n+1):
    if i % 2 == 0:
      even_numer.append(i)
  print("The even numers up to" ,n,"are" ,even_numer)
print_even_num()

Enter the numer :  40
The even numers up to 40 are [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [ ]:
#lambda
add = lambda x,y :x+y
print(add(2,3))

5

In [ ]:
square = lambda x :x**2
print(square(8))

64

In [ ]:
concat = lambda x ,y : x + y
print(concat("Good", " Morning"))

Good Morning

In [ ]:
even_or_odd = lambda x : "even" if x % 2 ==0 else "odd"
print(even_or_odd(7))

odd

In [ ]:
max_num = lambda x , y : x if x>y else y
print(max_num(14,16))

16

In [ ]:
f= lambda : input("enter the num : ")
print(f())

enter the num : 6
6

In [ ]:
f = lambda x : x * x
num = int(input("Enter the num : "))
print(f(num))

Enter the num : 5
25

In [ ]:
add = lambda x , y : x + y
num1 = int(input( "enter the 1st num : "))
num2 = int(input( "enter the 2nd num : "))
print(add(num1, num2))

enter the 1st num : 5
enter the 2nd num : 6
11

In [ ]:
cal = lambda x : [i ** 2 for i in x]
print(cal([1,2,3,4,5,6,7,8,9]))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
product = [{'name':'phone','price':10000},
           {'name':'phone2','price':20000},
           {'name':'phone3','price':5000},
           {'name':'phone4','price':15000},]
sorted_products = sorted(product,key = lambda x : x['price'])
for product in sorted_products:
  print(product)

{'name': 'phone3', 'price': 5000}
{'name': 'phone', 'price': 10000}
{'name': 'phone4', 'price': 15000}
{'name': 'phone2', 'price': 20000}

In [ ]:
#recursion
def rec_sum(n):
  if n == 1:
    return 1
  else:
    return n + rec_sum(n - 1)
print(rec_sum(6))   # 6 + (5+4+3+2+1)

21

In [ ]:
  #fabinacci series
  def no(n):
    if n <= 1:
      return n
    else:
      return no(n-1)+no(n-2)
print(no(6))

8

In [ ]:
 def no(n):
  x,y =0,1
  for i in range(n):
    print(x)
    x , y = y , x + y
no(8)

0
1
1
2
3
5
8
13

In [ ]:
#expectation handling
try:
  print (x)

SyntaxError: ignored

In [ ]:
try:
  print(x)
except:
  print("there is no x")

x

In [ ]:
try:
  print(x)
except:
  print("there is no x")
else:
  print("no error")

x
no error

In [ ]:
x = 10
if x < 20:
  raise Expection("there is an issue")

In [ ]:
n = int(input(" enter num1 : "))
d = int(input(" enter num2 : "))
r = n/d
print("result : ",r)

 enter num1 : 6
 enter num2 : 0

ZeroDivisionError: ignored

In [ ]:
try:
 n = int(input(" enter num1 : "))
 d = int(input(" enter num2 : "))
 r = n/d
 print("result : ",r)
except ZeroDivisionError:
  print(" You have divided by zero")

 enter num1 : 6
 enter num2 : 0
 You have divided by zero

In [ ]:
x = "10"
y = 20
z = x + y
print("result : " , z)

TypeError: ignored

In [ ]:
try:

 x = "10"
 y = 20
 z = x + y
 print("result : " , z)
except TypeError:
  print("data mismatched")

data mismatched

In [ ]:
list1 =[1,2,3,4]
print(list1[4])

IndexError: ignored

In [ ]:
try:

 list1 =[1,2,3,4]
 print(list1[4])
except IndexError:
  print("Wrong Index")

Wrong Index

In [ ]:
dic = {"name":"alice","age":22,}
print(dic["city"])

KeyError: ignored

In [ ]:
try:
  dic = {"name":"alice","age":22,}
  print(dic["city"])
except KeyError:
  print("key error there is no such type of key")

key error there is no such type of key

In [ ]:
try:
  import library123
except ImportError:
  print("Particlar library missing")

Particlar library missing

In [ ]:
try:
  list1 = [1] * (10 ** 12)
except MemoryError:
  print("insufficint memory")

In [ ]:
try:
  result = 5000 ** 12
except OverflowError:
  print("too big to print")
else:
  print(result)

244140625000000000000000000000000000000000000

In [ ]:
n = 18
try:
  input_num = int(input("Enter the age : "))
  if input_num < n:
    raise CheckAge
  else :
    print("You can vote")
except CheckAge:
  print("you cannot vote")

Enter the age : 45
You can vote